/* Resetear algunos estilos predeterminados del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px; /* Aumentar el tamaño del contenedor */
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%; /* Asegurar que el formulario use el 100% del ancho del contenedor */
}

.form-group {
    margin-bottom: 15px;
    width: 100%; /* Asegurar que el grupo de formulario use el 100% del ancho del contenedor */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="number"],
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Asegurar que los inputs y el botón usen el 100% del ancho del contenedor */
}

button {
    background: #2c3e50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #34495e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #f9f9f9;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #2c3e50;
    color: #fff;
}

tr:nth-child(even) {
    background: #f4f4f4;
}

tr:hover {
    background: #e0e0e0;
}
